/* Start Variables */
:root {

}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
.top_nav {
  background: #333333;
}
.top_nav .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  height: 47px;
}
.top_nav .left_nav {
  font-size: 13px;
}
.top_nav .left_nav p {
  display: inline;
  padding-right: 6px;
  color: #f2f2f2;
}
.top_nav .right_nav {

}
.top_nav .right_nav .text_right_nav {
  display: flex;
}
.top_nav .right_nav .text2_right_nav {
  display: flex;
}
.top_nav .right_nav ul li{
  padding-right: 15px;
  font-size: 14px;
  color: #f2f2f2;
}
.top_nav .right_nav ul a:hover {
  color: #3cc7c6;
}
/*start logo */
.simple .container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 38px;
}
.simple .logo {

}
.simple ul {
  display: flex;
  position: absolute;
  right: 0;
}
.simple ul li {
}
.simple ul li a {
  color: black;
  padding-right: 25px;
}
.simple ul li:not(.not_1):after {
  content: "";
  border-right: #e4e4e6 2px solid;
  margin-right: 21px;
}
/* end logo */
/* start menu */
.menu .container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  border-top: 2px #e4e4e6 solid;
  border-bottom: 2px #e4e4e6 solid;
}
.menu .container ul {
  display: flex;
}
.menu .container ul li {
  margin: 15px;
}
.menu .container ul li:hover {
  color: #3cc7c6;
}
/* end menu */
/*start master photo */
.master_photo .container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/*end master photo */
/* start ad */
.ad .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  margin-top: 80px;
}
.ad .box {
  position: relative;
}
.ad .box .image img {
  max-width: 100%;
}
.ad .box .text_box {
  position: absolute;
  top: 31%;
  left: 7%;
}
.ad .box .text_box ul li:first-of-type {
  color: #999999;
  padding-bottom: 10px;
}
.ad .box .text_box ul li:last-of-type {
  padding-top: 47px;
  color: #3cc7c6;
}
/* end ad */


.gallary{
padding-left: 30vh;
display: inline-table;

}

.img{
 position: relative;
}
.img-top{
  transition: 0.5 ease;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px rgb(228, 222, 222) ;
}
.overlay{
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.img:hover .img-top{
opacity: 0.2;
}
.img:hover .overlay{
opacity: 1;
}
.btn{
  font-size: 20px;
  cursor: pointer;
  background-color: aqua;
   border: 1px solid darkturquoise; 
 outline: none;
}
.btn:hover{
  color: black;
  background-color: white;
}
.card-body{
display: flex;
font-weight: 10px;
}
.card-title{
 padding-right: 10px;
}

  .display-3{
    text-align: center;
  }
.pra{
  margin-top: 30px;
  text-align: center;
}
