*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
  margin-left: 50vh;
}
.links{
   background-color: black; 
 }
 .links ul{
    margin-left:120vh; 
   justify-content: flex-end;
 }

.links ul li
{
   list-style: none; 
  display:inline-block; 
  margin:20px 4px;   
} 
 a{
  font-size: 15px;
  color: #d3cdcd;
  text-decoration: none; 
} 
span{
  color: aquamarine;
  font-size: 20px;
}
.section{
  margin-top:50px;
 float: left;
  text-align: center;
}
.border{
  width:100vh;
   margin-top: 30px; 
  margin-bottom:10px;
  border-bottom:1px #999999 solid ;
}
img{
  height: 65vh;
}
.mo
{
 display: contents;
  justify-content: end;
}
.mo a
{
padding: 10px;
}
a:hover
{
  color: aquamarine;
}
.shop
{
  cursor: pointer;
  float: right;;
}
 .back ul li{

  cursor: pointer;
  list-style: none; 
  display:inline-block; 
  margin:0 10px 60px ;   
}
.back ul li:hover{color: aqua;}
.borde{
  width:100vh;
  margin-top: -20px;
 margin-bottom:50px;
 border-bottom:1px #999999 solid ;
}
